body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.accordion-button::after {
  filter: brightness(7);
}
.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Copy-right {
  margin-right: 10px; /* Adjust the margin to your desired spacing */
}

#GitHub {
  margin-left: 10px; /* Optional: Adjust if needed for uniformity */
}
